<h1>Closest Stations</h1>
<div class="stations">
  <% @stations.each do |station| %>
    <h3>Station: <%= station.name %></h3>
    <h3>Address: <%= station.address %></h3>
    <h3>Fuel Type: <%= station.fuel_type %></h3>
    <h3>Distance from Zip: <%= station.distance %></h3>
    <h3>Access Time: <%= station.access_time %></h3>
  <% end %>
</div>
