<h1>Closest Stations</h1>
<div class="stations">
  <% @stations.each do |station| %>
    <h3><%= station.name %></h3>
    <li>Address: <%= station.address %></li>
    <li>Fuel Type: <%= station.fuel_type %></li>
    <li>Distance from Zip: <%= station.distance %></li>
    <li>Access Time: <%= station.access_time %></li>
  <% end %>
</div>
